:root{
    --pink: hsl(322, 100%, 66%);
    --veryPaleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
}
main{
    background-image: url(img/bg-hero-mobile.svg);
}

header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 30%;
    height: auto;
}

header a {
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 2px 5px 15px -5px rgba(0,0,0,0.71);
    background-color: white;
    padding: 2px 20px 2px 20px;
    border: none;
}

#build-commun {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#build-commun h2{
    display: inline;
    width: 70vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#build-commun p{
    display: inline;
    width: 70vw;text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#build-commun img{
    width: 80vw;
    height: 30%;
}

#build-commun .button {
    
    background-color:
    hsl(322, 100%, 66%);
}