:root{
    --pink: hsl(322, 100%, 66%);
    --veryPaleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
}
main{
    background-image: url(img/bg-hero-mobile.svg);
}

header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 30%;
    height: auto;
    margin-top: 1.5rem;
}

header a {
    padding: 0.3rem 2rem;
    background: white;
    color: hsl(192, 100%, 9%);
    font-family: "Poppins", sans-serif;
    border-radius: 25px;
    border: transparent;
    cursor: pointer;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
    margin-top: 1.5rem;
    font-size: small;
}

#build-commun {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#build-commun h2{
    display: inline;
    width: 70vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 5rem;
    line-height: 2.3rem;
}

#build-commun p{
    display: inline;
    width: 80vw;text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

#build-commun img{
    width: 80vw;
    height: 30%;
}

#build-commun .button {

    background-color:
    hsl(322, 100%, 66%);

}

