:root{
    --pink: hsl(322, 100%, 66%);
    --veryPaleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
}
main{
    background-image: url(img/bg-hero-mobile.svg);
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0.5rem 0.5rem;
}

header img{
    width: 100px;   
    height: auto;
    margin-top: 1.2rem;
}

header a {
    padding: 0.3rem 1rem;
    background: white;
    color: hsl(192, 100%, 9%);
    font-family: "Poppins", sans-serif;
    border-radius: 25px;
    border: transparent;
    cursor: pointer;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
    margin-top: 1.5rem;
    font-size: 10px;
    width: 20vw;
    text-align: center;
}

header a:hover {
    opacity: 0.7;
}

.mockups {
    margin: 4rem 0;
    width: 80vw;
    height: 30%;
}

#build-commun {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#build-commun h2{
    display: inline;
    width: 70vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 5rem;
    line-height: 2.3rem;
}

#build-commun p{
    display: inline;
    width: 80vw;text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.button {
    border-radius: 25px;
    border: transparent;
    color:white;
    font-family: "Poppins", sans-serif;
    background-color: hsl(322, 100%, 66%);
    padding: 0.7rem 2rem;
    cursor: pointer;
    width: 50vw;
    text-align: center;
    font-size: small;
}

.button:hover {
    opacity: 0.7;
}

#cards {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
#cards h4 {

}
#cards p {
    color: var(--GrayishBlue);
}
#cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 1px 1px 11px 2px rgba(133,133,133,0.30);
    -webkit-box-shadow: 1px 1px 11px 2px rgba(133,133,133,0.30);
    -moz-box-shadow: 1px 1px 11px 2px rgba(133,133,133,0.30);
    border-radius: 25px;
}
#cards img{
    width: 75%;
}